*{
  box-sizing: border-box;
}

body {
  color: rgb(90 5 5);
  background-color: gray;
}

.list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid black; */
}

.to-do {
  font-size: 40px;
}

.input-list,
.deletebtn {
  width: 300px;
  outline: none;
  padding: 5px;
}

.list-item {
  padding: 0px;
  max-width: 100px;
}

.list-container {
   width: 300px;
   display: flex;
   flex-direction: column;
   background-color: white;

}


.btn-remove {
  cursor: pointer;
}

.wrap-tasks {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.task-div { 
  display: flex;

}



.dots-img {
   padding-left: 20px;
}
