* {
  box-sizing: border-box;
}

body {
  color: rgb(90 5 5);
  background-color: gray;
}

.list-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 2px solid black; */
}

.to-do {
  font-size: 40px;
}

.input-list,
.deletebtn {
  width: 500px;
  outline: none;
  padding: 5px;
}

.list-item {
  padding: 0;
  width: 300px;
  border: none;
  outline: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 500px;
}

.btn-remove {
  cursor: pointer;
}

.wrap-tasks {
  display: flex;
  gap: 120px;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.task-div {
  display: flex;
  width: 100%;
}

.dots-img {
  padding-left: 20px;
}
